h1{
    font-size: 20px;
}
body{
    font-size: 14px;
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 20px 100px 800px;

    margin: 10px 10px 10px 10px;
    padding: 10px 10px 0px 10px;;
    box-shadow: 6px 6px 25px #0000008a;
    border-radius: 15px;
   
}

section{
  
    grid-column: 2 / span 4;
    grid-row: 3 / span 2; 
    background-color: rgb(112 105 105 / 6%);
}
nav{
    /* background-color: blueviolet; */
    grid-column: 1 / span 1;
    grid-row: 3 / span 2;
    margin-top: 39px;
    padding: 0px 10px;
    font-weight: bold;
}

.ome{
  
    background-color: rgb(112 105 105 / 6%);
    border-radius: 5px;
    margin-right: 5px;
    margin-top: -14px;
    font-weight: bold;
    color: black;
}

.first{
    position: absolute;
    left: 0px;
}

.tete{
    grid-column: 1 / span 5;
    grid-row: 2 / span 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
} 
.tri{
    grid-column: 1 / span 5;
    grid-row: 1 / span 1;
}
.droite{
   
    margin-right: 20px;
    width: 240px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.sectionPrincipal{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 200px 165px 200px;
}

.partie1{
    margin-left: 30px;
    border-radius: 15px;
    grid-column: 1 / span 2;
    grid-row: 1 / span 2; 
    background-color: white;   
}

.partie2{
    
        border-radius: 15px;
        background-color: white;
        margin-left: 10px;
        margin-right: 40px;
        /* margin-right: 40px; */
        /* background-color: tomato; */
        grid-column: 3 / span 1;
        grid-row: 1 / span 3;
        padding: 0px 35px;

}
.titrePartie2{
    grid-column: 1 /span 4;
    grid-row: 1 / span 1;
    line-height: 65px;
    margin-top: 5px;
}
.line{
    grid-column: 1 /span 4;
    grid-row: 2 / span 1;
    display: flex;
    justify-content: space-between;
    color: #00000059;
}

.produits{
/* grid-column: 1 /span 1;
border: 1px black solid;
border-radius: 5px; */
width: 70%;
float: right;

}
.lin img{
    
        border: 1px #00000036 solid;
        padding: 5px 5px;
        border-radius: 14px;
        margin-right: 12px;
}

.lin{
    width: 100%;
    margin: 22px 0px;
    position: relative;
}
.nom{
    position: absolute;
    top: 0%;
}

.kit{
    position: absolute;
    bottom: 6px;
    color: #00000059;

}

.price{
    position: absolute;
    right: 0%;
    top: 0%;
    font-weight: bold;
}

.partie2 p{
    text-align: center;
    border: 1.5px solid #0000003b;
    /* box-shadow: 1px 1px 1px 1px; */
    border-radius: 15px;
    margin: 20px 0px;
    padding: 15px 0px;
}
.partie1 , .partie3{
    padding: 0px 40px;

}

.partie3{
    
    margin-left: 30px;
    margin-top: 10px;
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    

    grid-column: 1 / span 2;
    grid-row: 3 / span 2; 
    align-items: baseline;
}
.text{
   
    height: 23px;
    width: 88px;
    /* text-align: center; */
    background-color: rgb(112 105 105 / 6%);
    border-radius: 5px;
    padding: 5px;
    position: relative;
    color: #00000059;
}
.tete3{
    position: relative;
    width: 100%;
    display: flex;
    height: 40px;
    align-items: baseline;
    justify-content: space-between;
    padding: 22px 0px;
    padding-top: 0px;
    
}

.partie4{
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 40px;
    padding: 0px 35px;

    background-color: white;
    border-radius: 15px;
    grid-column: 3 / span 1;
    grid-row: 4 / span 1; 
}
.comments{
    text-align: justify;
}
p{
    height: auto;
    /* font-size: 1.4px; */
}
.profil{
    display: flex;
    justify-content: space-between ;
    align-items: center;
}

.profil div{
    display: flex;
    flex-direction: column;
    align-items: center;


} 
.milieu{
    display: flex;
    align-items: center;
    background-color: rgb(112 105 105 / 6%);
    width: 100%;
    height: 150px;
    margin: auto;
    border-radius: 15px;
    
}
.int{    
    width: 45%;
    height: 105px;
    background-color: white;
    margin: 10px 10px 10px 15px ;
    border-radius: 15px;
    padding-top: 10px ;
    padding-bottom: 10px;
    padding-left: 4px;
}

.prix{
    font-size: 3em;
}
h1{
    margin: 0%; } 

.da{
    padding: 34px 0px;
    background-color: rgb(112 105 105 / 6%);
    padding-left: 15px;
    font-size: 40px;
}


/* .lin{
    

} */

hr{
    margin: 0%;
}

ul{
  line-height: 1.6em;
  list-style: none; 
  padding: 0%; 
}

li{
    position: relative;
    color: #00000082;
    
    margin: 5px 0px;
    height: 22px;
    padding: 10px 40px;
}

li ,.milieu p{
    color: #00000082;
}

li .down{
    position: absolute;
    right: 0%;
    top: 15px;
}

.im{
    
    
    position: absolute;
    right: 105px;
    top: 20px;
    
}

li img{
    float: left;
    margin-left: 5px;
    margin-right: 5px;
}
/* li{
    
    margin: 5px 0px;
    height: 22px;
    padding: 10px 0px;
} */

nav div{
    margin-top: 439px;
}

.bas{
    position: relative;
}

.bas span {
    position: absolute;
    width: 19px;
    right: 0%;
    top: 30%;
    background-color: #0000ff1c;
    border-radius: 50%;
    text-align: center;
    color: blue;
}

.it{
    width: 50%;
}
.int , .it{
    position: relative;
}

.int span, .it span{
    
    position: absolute;
    width: 40px;
    right: 0%;
    top: 20%;
    background-color: rgb(54 239 2 / 14%);
    color: rgb(83 247 83);
    border-radius: 6px;
    text-align: center;
    margin-right: 10px;
    font-weight: bold;
}
.it span{
    background-color: white;
    color: black;
    
}

.art{
    width: 99%;
}

.plus{
  
   
    background-color: #0089ff;
    color: white;
    
    width: 69px;
    border-radius: 8px;
    padding-left: 8px;
    height: 35px;
    
}
.plus p{
    padding: 0%;
    margin-top: 7px;
}

input{
   
    width: 54%;
    height: 38px;
    margin-right: 416px;
    background-color: whitesmoke;
    border-radius: 5px;
    padding-left: 35px;
    border-width: 0px;
   
}

form{
    position: relative;
    border-radius: 5px;
}
.sea{
    position: absolute;
    top: 10px;
    left: 6px;
}
 .bas li{
    padding: 0%;
 }

 .kit , .line{
    font-weight: bold;
 }